In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('META.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3235 entries, 0 to 3234
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3235 non-null   object
 1   Open    3235 non-null   float64
 2   High    3235 non-null   float64
 3   Low     3235 non-null   float64
 4   Close   3235 non-null   float64
 5   Volume  3235 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 151.8+ KB

In [5]:
df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [6]:
df.head()

       Date       Open       High        Low      Close     Volume
0  18-05-12  41.889986  44.828761  37.855398  38.084522  573576400
1  21-05-12  36.390988  36.520494  32.874422  33.900501  168192700
2  22-05-12  32.485908  33.462179  30.822263  30.882034  101786600
3  23-05-12  31.250625  32.376325  31.240663  31.878227   73600000
4  24-05-12  32.824611  33.083620  31.649101  32.904305   50237200

In [11]:
# Chuẩn hóa cột Date
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%y')

quarter = df['Date'].dt.to_period('Q')

In [13]:
# Tính giá đóng cửa trung bình mỗi quý
df['Average Price'] = df.groupby(df['Date'].dt.year)['Close'].mean()

print(df['Average Price'])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3230   NaN
3231   NaN
3232   NaN
3233   NaN
3234   NaN
Name: Average Price, Length: 3235, dtype: float64

In [ ]:
# Tính tổng khối lượng giao dịch mỗi quý
total_volume = df.groupby(df['Date'].dt.to_period('Q'))['Volume'].sum()

In [ ]:
# Lấy giá cao nhất và thấp nhất mỗi quý
Max_Price = df.groupby(df['Date'].dt.to_period('Q'))['Close'].max()

In [ ]:
# Lấy giá thấp nhất mỗi quý
Min_Price = df.groupby(df['Date'].dt.to_period('Q'))['Close'].min()

ValueError: All arrays must be of the same length